node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
silverchimp-web.zip
cf-stderr.txt
cf-stdout.txt
cf-tunnel.log
lt-stderr.txt
lt-stdout.txt
*.log
